/* ----------------- the body and header style----------------------- */

body {
    background-color: rgb(189, 88, 88);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #242424;
    height: 60px;
    position: relative;
    top: -8px;
}

.header a {
    color: blanchedalmond;
    text-decoration: inherit;
    text-overflow: clip;
    position: relative;
    top: 17px;
}

.header img {
    float: left;
    width: 55px;
    height: 60px;
}

.header h3 {
    display: inline;
    margin-left: 25px;
    position: relative;
    left: 1050px;
}


/* --------------------the table1------------------- */

#table-wrapper1 {
    width: 400px;
    position: relative;
    left: -5%;
    height: 125px;
    transform: rotate(-90deg);
    top: 100px;
}

.the-table1 {
    position: absolute;
    left: 50px;
    top: 50px;
    height: 360px;
    width: 200px;
    background-color: #5e4837;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, .23), 0 3px 9pt rgba(0, 0, 0, .16);
}

.plate1 {
    width: 50px;
    height: 52px;
    background: white;
    border-radius: 50%;
    position: absolute;
}

.plate1:before {
    top: 6px;
    left: 6px;
    position: absolute;
    content: " ";
    width: 69px;
    height: 69px;
    border-radius: 50%;
    /* box-shadow: 10px 9px 0 0 #EAEAEA; */
}

.plate1:after {
    position: absolute;
    content: " ";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #A03434;
    border: 3px solid rgb(154, 129, 109);
    left: 17px;
    bottom: -30px;
    box-shadow: inset 0 0 10px #000000;
}

.plate1:nth-child(1) {
    left: 75px;
    top: 5px;
}

.plate1:nth-child(2) {
    left: 10px;
    top: 70px;
    transform: rotate(-90deg);
}

.plate1:nth-child(3) {
    left: 5px;
    top: 250px;
    transform: rotate(-90deg);
}

.plate1:nth-child(4) {
    right: 5px;
    top: 240px;
    transform: rotate(90deg);
}

.plate1:nth-child(5) {
    right: 5px;
    top: 55px;
    transform: rotate(90deg);
}

.plate1:nth-child(6) {
    left: 80px;
    top: 300px;
    transform: rotate(180deg);
}

.knife1,
.fork1 {
    position: absolute;
    width: 7px;
    height: 38px;
    background-color: #d2d3d5;
    top: 0;
}

.knife1,
.fork:before {
    width: 5px;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, .23), 0 3px 9pt rgba(0, 0, 0, .16);
}

.knife1 {
    border-radius: 0 0 100%/13px 0;
    right: -12px;
}

.fork1 {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 0 9px 21px;
    left: -17px;
}

.fork1:before {
    box-shadow: 0 8px 0 2px #5e4837;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 7px;
    width: 3px;
    height: 18px;
    content: ' ';
    background-color: inherit;
}

.fork1:after {
    box-shadow: 0 8px 0 2px #5e4837;
    border-top-left-radius: 20px;
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 3px;
    height: 18px;
    content: ' ';
    background-color: inherit;
}

.chair1 {
    position: absolute;
    width: 75px;
    height: 22px;
    /* background-color: black; */
    background-color: darken(#5e4837, 10);
    border-radius: 13%/100px 100px 0 0;
    perspective: 150px;
    /* box-shadow: 0 3px 9pt rgba(0, 0, 0, .23), 0 3px 9pt rgba(0, 0, 0, .16); */
}

.chair1:before {
    transform: rotateX(160deg);
    position: absolute;
    width: 185px;
    height: 59px;
    background-color: #7e614a;
    top: -29px;
    left: -13px;
    content: " ";
    border-radius: 13%/100px 100px 0 0;
}

.chair1:before {
    width: 215px;
    height: 59px;
    left: -93px;
    width: 137px;
    height: 100px;
}

.chair1:nth-child(1) {
    left: 180px;
}

.chair1:nth-child(2) {
    top: 78px;
    left: -22px;
    transform: rotate(-90deg);
}

.chair1:nth-child(3) {
    top: 248px;
    left: -15px;
    transform: rotate(-90deg);
}

.chair1:nth-child(4) {
    right: 80px;
    top: 180px;
    transform: rotate(90deg);
}

.chair1:nth-child(5) {
    right: 80px;
    top: 362px;
    transform: rotate(90deg);
}

.chair1:nth-child(6) {
    top: 445px;
    left: 65px;
    transform: rotate(180deg);
}


/* --------------------the table2------------------- */

#table-wrapper2 {
    width: 450px;
    position: relative;
    left: 45%;
    height: 0;
    transform: rotate(-90deg);
    top: 30px;
}

.the-table2 {
    position: absolute;
    left: 50px;
    top: 50px;
    height: 360px;
    width: 200px;
    background-color: #5e4837;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, .23), 0 3px 9pt rgba(0, 0, 0, .16);
}

.plate2 {
    width: 50px;
    height: 52px;
    background: white;
    border-radius: 50%;
    position: absolute;
}

.plate2:before {
    top: 6px;
    left: 6px;
    position: absolute;
    content: " ";
    width: 69px;
    height: 69px;
    border-radius: 50%;
    /* box-shadow: 10px 9px 0 0 #EAEAEA; */
}

.plate2:after {
    position: absolute;
    content: " ";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #A03434;
    border: 3px solid rgb(154, 129, 109);
    left: 17px;
    bottom: -30px;
    box-shadow: inset 0 0 10px #000000;
}

.plate2:nth-child(1) {
    left: 75px;
    top: 5px;
}

.plate2:nth-child(2) {
    left: 10px;
    top: 70px;
    transform: rotate(-90deg);
}

.plate2:nth-child(3) {
    left: 5px;
    top: 250px;
    transform: rotate(-90deg);
}

.plate2:nth-child(4) {
    right: 5px;
    top: 240px;
    transform: rotate(90deg);
}

.plate2:nth-child(5) {
    right: 5px;
    top: 55px;
    transform: rotate(90deg);
}

.plate2:nth-child(6) {
    left: 80px;
    top: 300px;
    transform: rotate(180deg);
}

.knife2,
.fork2 {
    position: absolute;
    width: 7px;
    height: 38px;
    background-color: #d2d3d5;
    top: 0;
}

.knife2,
.fork2:before {
    width: 5px;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, .23), 0 3px 9pt rgba(0, 0, 0, .16);
}

.knife2 {
    border-radius: 0 0 100%/13px 0;
    right: -12px;
}

.fork2 {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 0 9px 21px;
    left: -17px;
}

.fork2:before {
    box-shadow: 0 8px 0 2px #5e4837;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 7px;
    width: 3px;
    height: 18px;
    content: ' ';
    background-color: inherit;
}

.fork2:after {
    box-shadow: 0 8px 0 2px #5e4837;
    border-top-left-radius: 20px;
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 3px;
    height: 18px;
    content: ' ';
    background-color: inherit;
}

.chair2 {
    position: absolute;
    width: 75px;
    height: 22px;
    /* background-color: black; */
    background-color: darken(#5e4837, 10);
    border-radius: 13%/100px 100px 0 0;
    perspective: 150px;
    /* box-shadow: 0 3px 9pt rgba(0, 0, 0, .23), 0 3px 9pt rgba(0, 0, 0, .16); */
}

.chair2:before {
    transform: rotateX(160deg);
    position: absolute;
    width: 185px;
    height: 59px;
    background-color: #7e614a;
    top: -29px;
    left: -13px;
    content: " ";
    border-radius: 13%/100px 100px 0 0;
}

.chair2:before {
    width: 215px;
    height: 59px;
    left: -93px;
    width: 137px;
    height: 100px;
}

.chair2:nth-child(1) {
    left: 180px;
}

.chair2:nth-child(2) {
    top: 78px;
    left: -22px;
    transform: rotate(-90deg);
}

.chair2:nth-child(3) {
    top: 248px;
    left: -15px;
    transform: rotate(-90deg);
}

.chair2:nth-child(4) {
    right: 112px;
    top: 180px;
    transform: rotate(90deg);
}

.chair2:nth-child(5) {
    right: 112px;
    top: 362px;
    transform: rotate(90deg);
}

.chair2:nth-child(6) {
    top: 445px;
    left: 65px;
    transform: rotate(180deg);
}


/*-------------------- the table 3----------------------- */

#table-wrapper3 {
    width: 400px;
    position: relative;
    left: -5%;
    height: 150px;
    transform: rotate(-90deg);
    top: 420px;
}


/*----------------------the table 4------------- */

#table-wrapper4 {
    width: 400px;
    position: relative;
    left: 53%;
    height: 140px;
    transform: rotate(-90deg);
    top: 275px;
}


/*--------------- the popup-------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgb(189, 88, 88);
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(189, 88, 88);
    width: 25%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

form .input4 {
    width: 100px;
    background-color: black;
    color: gold;
    position: relative;
    left: 120px;
}

.input2 {
    position: relative;
    left: 30px;
}

.input3 {
    position: relative;
    left: 43px;
}

.input5 {
    clear: both;
    position: absolute;
    transform: rotate( 180deg);
    position: relative;
    right: 84px;
    bottom: 29px;
    width: 117px;
    height: 74px;
    padding: 0;
    border: none;
    background: none;
    color: #7e614a;
}


/* -----------------footer style---------------- */

footer {
    position: absolute;
    bottom: -300px;
    width: 100%;
    height: 2.5rem;
    height: 2.5rem;
    background-color: #242424;
    color: blanchedalmond;
    text-align: center;
}

#massage {
    position: relative;
    top: 600px;
}

#message-container {
    clear: both;
    width: 80%;
    max-width: 1200px;
}

#message-container section {
    background-color: #CCC;
    padding: 5px;
}

#message-container section:nth-child(2n) {
    background-color: #FFF;
}

#send-container {
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input {
    flex-grow: 1;
}